body {
	font-family: 'Cabin', sans-serif;
}

h1 {
	font-family: 'Cormorant', serif;
	font-size: 36pt;
}

h3 {
	font-family: 'Cormorant', serif;
}

h4 {
	font-family: 'Cormorant', serif;
}

.jumbotron {
	background-color: #fff;
	padding-bottom: 0px;
}

.logo {
	padding:5px;
	height:64px;
	width: 64px;
}

#sneha {
	width: 100%;
	padding:2px;
	border:3px solid #777;
	float:right;
}
#header {
	margin: auto;
}

.section {
	font-family: 'Cabin', sans-serif;
	display: block;
	text-align: center;
	float: center;
	font-size: 24pt;
}

p {
	font-size: 11pt;
}
